

    body{
        background-image: url("../../assets/home/background-home-desktop.jpg");
    }



.home{
    display: flex;
    flex-direction: column;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: var(--accent-color); 
     border-radius: 50%; 
     }


  