

.actionbtn{
    display: inline-block;
    padding:  100px 50px;
    border-radius: 50%;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.actionbtn:hover{
    box-shadow: 0 0 0 50px rgba(1, 10, 15, 0.5);}

.container{
    display: flex;
    margin: 120px auto;
    align-items: center;
    justify-content: space-around;
    

}

.left{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}